.about__company {
  margin: 0 auto;
  min-height: 743px;
  background-color: #0f102c;
}

.about__company-container {
  width: 1385px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 0 0 216px;
}

.about__company-info {
  min-height: 526px;
  max-width: 475px;
  width: 100%;
  padding: 110px 0;
}

.about__company-title {
  color: #fff;
}

.about__company-border {
  margin-top: 23px;
  width: 100%;
  border-bottom: 3px solid #fff;
}

.about__company-text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 124.4%;
  letter-spacing: 0.27px;
  margin-top: 20px;
  max-width: 460px;
}

.about__company-text:last-of-type {
  max-width: 470px;
  width: 100%;
}

.about__company-button {
  width: 221px;
  height: 56px;
  margin-top: 40px;
  padding-top: 5px;
  border-radius: 15px;
  border: 2px solid #fff;
  box-shadow: 4px 4px 10px 0px rgba(255, 255, 255, 0.25);
  background-color: #0f102c;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.about__company-button:hover {
  background: #fff;
  box-shadow: 4px 4px 40px 0px rgba(255, 255, 255, 0.25);
  color: #0f102c;
  transition: 0.15s;
}
.about__company-slider {
    width: 100%;
}
.about__company-slid {
  width: 100%;
  height: 743px;
  background-color: #173fc9;
  margin-left: 31px;
  box-sizing: border-box;
}

.slid__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 303px;
}

.slid__text {
  max-width: 426px;
  width: 100%;
  min-height: 47px;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 auto;
}

.slid__button {
  width: 146px;
  height: 60px;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: #173fc9;
  margin-top: 30px;
  cursor: pointer;
}

.slid__button:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.15s;
}
