.promo {
  width: 100%;
  height: 900px;
  background-image: url("../../images/main-background-image.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
}

.promo__container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.promo__info {
  display: flex;
  flex-direction: column;
  min-width: 430px;
  margin: 311px 70px 0 0;
}

.promo__title {
  color: #fff;
  font-family: Raleway;
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
  width: 100%;
  min-height: 215px;
}

.promo__subtitle {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 38px;
  width: 378px;
  min-height: 52px;
}

.promo__button {
  width: 219px;
  height: 56px;
  padding: 15px 25px;
  background-color: #173fc9;
  border-radius: 15px;
  box-shadow: 4px 4px 10px 0px rgba(255, 255, 255, 0.25);
  color: #fff;
  border: none;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.promo__button:hover {
  background: #0733cf;
  box-shadow: 4px 4px 40px 0px rgba(255, 255, 255, 0.25);
  transition: 0.15s;
}

.promo__image {
  max-width: 670px;
  width: 100%;
  height: 100%;
  margin-top: 140px;
}
