/* /* .slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slider-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-slides {
  display: flex;
  overflow: hidden;
}

.slider-slide {
  flex: 0 0 100%;
  transition: transform 0.3s ease;
  position: relative;
}

.slider-slide img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
} */

/* .item {
  display: flex;
  align-items: center;
  justify-content: center;
} */

